@import "/styles/variables.scss";

.main {
  margin: 2rem 2rem;
}

.additionalIdRow {
  display: flex;
}

.additionalIdFlex {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.additionalId {
  margin: 0rem 0rem 1rem 1rem;
}

.goAndDomainContainer {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.goGridContainer {
  display: grid;
  justify-items: start;
  justify-content: start;
  grid-template-columns: [dbName] 18vw [id] 20vw [function] auto;
}

.domainGridContainer {
  display: grid;
  justify-items: start;
  grid-auto-flow: column dense;
  grid-template-columns: [dbName] 6vw [id] 10vw [function] 15vw [view] auto;
}

.keggGridContainer {
  @extend .goGridContainer;
}

.kogGridContainer {
  @extend .goGridContainer;
}

.plazaDescription {
  font-style: oblique;
  color: #646464;
  text-align: justify;
}

@media (max-width: 1100px) {
  .main hr {
    margin: 1rem 0;
    width: 100%;
  }

  .geneAndDl {
    width: 100%;
  }

  .goAndDomainContainer {
    width: 100%;
  }

  .goGridContainer {
    grid-template-columns: [dbName] 18vw [id] 20vw [function] auto;
  }

  .domainGridContainer {
    grid-template-columns: [dbName] 12vw [id] 16vw [function] 30vw [view] auto;

    svg {
      width: 70%;
    }
  }

  .keggGridContainer {
    grid-template-columns: [id] 12vw [description] auto;
  }

  .kogGridContainer {
    grid-template-columns: [id] 12vw [description] auto;
  }

  .plazaDescription {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .main hr {
    margin: 1rem 0;
    width: 70%;
  }

  .geneAndDl {
    width: 70%;
  }

  .goAndDomainContainer {
    width: 60%;
  }

  .goGridContainer {
    grid-template-columns: [dbName] 11vw [id] 10vw [function] auto;
  }

  .domainGridContainer {
    grid-template-columns: [dbName] 6vw [id] 10vw [function] 15vw [view] auto;
  }

  .keggGridContainer {
    grid-template-columns: [id] 6vw [description] auto;
  }

  .kogGridContainer {
    grid-template-columns: [id] 6vw [description] auto;
  }

  .plazaDescription {
    width: 60%;
  }
}

.goAndDomainContainer {
  // Default color for the bar on the left
  border-left: 0rem solid gray;
  * {
    margin: 0.5rem 2rem;
  }

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-left: 1rem solid gray;
  }

  &.goTypeF {
    border-left: 0rem solid #59bb74;
  }
  &.goTypeF:hover {
    border-left: 1rem solid #59bb74;
  }
  &.goTypeC {
    border-left: 0rem solid #b2afff;
  }
  &.goTypeC:hover {
    border-left: 1rem solid #b2afff;
  }
  &.goTypeP {
    border-left: 0rem solid #fe9fa4;
  }
  &.goTypeP:hover {
    border-left: 1rem solid #fe9fa4;
  }
  &.interpro {
    border-left: 0rem solid #2daec1;
  }
  &.interpro:hover {
    border-left: 1rem solid #2daec1;
  }
  &.gene3d {
    border-left: 0rem solid #a88cc3;
  }
  &.gene3d:hover {
    border-left: 1rem solid #a88cc3;
  }
  &.pfam {
    border-left: 0rem solid #6287b1;
  }
  &.pfam:hover {
    border-left: 1rem solid #6287b1;
  }
  &.tigrfam {
    border-left: 0rem solid #56b9a6;
  }
  &.tigrfam:hover {
    border-left: 1rem solid #56b9a6;
  }
  &.supfam {
    border-left: 0rem solid #686868;
  }
  &.supfam:hover {
    border-left: 1rem solid #686868;
  }
  &.prosite {
    border-left: 0rem solid #f3c766;
  }
  &.prosite:hover {
    border-left: 1rem solid #f3c766;
  }
  &.panther {
    border-left: 0rem solid #bfac92;
  }
  &.panther:hover {
    border-left: 1rem solid #bfac92;
  }
  &.smart {
    border-left: 0rem solid #ff8d8d;
  }
  &.smart:hover {
    border-left: 1rem solid #ff8d8d;
  }
  &.hamap {
    border-left: 0rem solid #2cd6d6;
  }
  &.hamap:hover {
    border-left: 1rem solid #2cd6d6;
  }
  &.prints {
    border-left: 0rem solid #54c75f;
  }
  &.prints:hover {
    border-left: 1rem solid #54c75f;
  }
  &.cdd {
    border-left: 0rem solid #addc58;
  }
  &.cdd:hover {
    border-left: 1rem solid #addc58;
  }
  &.pirsf {
    border-left: 0rem solid #fbbddd;
  }
  &.pirsf:hover {
    border-left: 1rem solid #fbbddd;
  }
  &.kegg {
    border-left: 0rem solid #8c6025;
  }
  &.kegg:hover {
    border-left: 1rem solid #8c6025;
  }
  &.kog {
    border-left: 0rem solid #082d35;
  }
  &.kog:hover {
    border-left: 1rem solid #082d35;
  }
  &.sfld {
    border-left: 0rem solid #00b1d3;
  }
  &.sfld:hover {
    border-left: 1rem solid #00b1d3;
  }
}

.geneAndDl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rnaSeqInfo {
  margin: 1em;
  position: absolute;
  z-index: 2;
  left: 300px;
  width: 30em;
  background-color: white;
  padding: 0.5em;
  border: 2px solid $blue-2;
  box-shadow: 3px 3px 5px;
}

.rnaSeqInfoHidden {
  @extend .rnaSeqInfo;
  visibility: hidden;
}

.expressionHeader {
  display: flex;
  flex-direction: row;

  h3 {
    display: inline;
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }
}

.placeholder {
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: 500px;
  background-color: #d4d7db;
  background-image: linear-gradient(315deg, #eff1f5 0%, #f5f7fa 74%);

  img {
    height: 470px;
  }
}

.placeholder::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.genomeBrowserDescription {
  strong {
    font-family: roboto;
  }
}

.otherInfoDescription {
  @extend .rnaSeqInfo;
  left: 350px;
}

.otherInfoDescriptionHidden {
  @extend .otherInfoDescription;
  visibility: hidden;
}

.proteogenomicsTable {
  border: 1px solid black;
  th {
    position: relative;
    padding: 0.5em;
    border: 1px solid black;
    font-weight: 700;
  }
  td {
    padding: 0.5em;
    border: 1px solid black;
  }
}

.hidden {
  display: none;
}

.tableInfoToggle {
  @extend .rnaSeqInfo;
  top: 0;
  left: -5em;
  width: 100%;
  padding: 1em;
  z-index: 101;
  text-align: justify;
  font-weight: normal;
}

.normalP {
  margin: 0;
}

.categoryInfoToggleTitleDiv {
  display: flex;
  align-items: flex-end;
}

.tab {
  height: auto;
  border: 0px solid $basic-grey;
  background: $basic-grey;
  text-align: center;
  color: #36424d;
  cursor: pointer;
  box-shadow: -1px -2px 1px $basic-grey;
  font-size: 16px;
  padding: 0.5em;
  align-self: center;
  transition: all 0.25s ease;
  padding: 0.5em;
  outline: none;
}

.tab:hover {
  color: white;
  background-color: $blue-2;
  box-shadow: 0px -1px 1px $blue-2;
}

.button:active {
  padding: 0.5em 0.4em 0.5em 0.6em;
}

.tabSelected {
  color: white;
  background-color: $blue-2;
  box-shadow: 0px -1px 1px $blue-2;
}

.geneSequenceContainer {
  margin-top: 1em;
}

.sequenceBox {
  margin-top: 0.5em;
  padding: 1em;
  display: inline-block;
  word-break: break-all;
  border: 2px dotted $blue-1;
  font-size: 1.2em;
}

.sequenceGrid {
  display: grid;
  grid-template-columns: 4em auto 4em;
}

.pre {
  grid-column-start: 1;
  user-select: none;
  color: #686868;
  font-style: italic;
}

.seq {
  grid-column-start: 2;
}

.post {
  grid-column-start: 3;
  user-select: none;
  justify-self: end;
  color: #686868;
  font-style: italic;
}

.sequenceToggle {
  margin: 1em 0 0 0;
}
