.container {
  display: flex;
  padding: 1em;
}

.danger {
  color: #b64450;
  background-color: #f2dede;
  border: 2px solid #e7cccc;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border: 2px solid #ffeeba;
}
