@import "styles/variables.scss";

.button {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  background-color: $blue-2;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px $shadow;
  font-family: NovaSlim, sans-serif;
  transition: all 0.05s linear;
  outline: none;
  padding: 0.7em 1em;

  &:active {
    box-shadow: inset 0px 0px 4px grey !important;
    padding: 0.8em 0.9em 0.6em 1.1em;
  }

  &:hover {
    box-shadow: none;
    background-color: $basic-grey;
    color: black;
  }

  &.disabled {
    color: black;
    background-color: $basic-grey;
    box-shadow: none;
    cursor: default;
  }

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: black;
  }
  &:hover > a {
    color: black;
  }
}
