.dl {
  margin: 0 0 0 2rem;
  color: #5a5a5a;
  text-decoration: none;

  a {
    color: #5a5a5a;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  &.colorBlack {
    a {
      color: black;
    }
  }
}
