@import "/styles/variables.scss";

.container {
  position: relative;
  display: inline-block;

  .icon {
    display: inline-block;
    cursor: pointer;
    padding: 0 0.3em;
    color: $blue-2;
    font-size: 1.3em;
  }

  input {
    display: none;
  }
}
