@import "/styles/variables.scss";

.searchBar {
  margin: 2rem 2rem;
  border-radius: 0;
  display: flex;
  justify-content: flex-end;
  width: 50%;

  input {
    width: 70%;
    flex: 1 0 auto;
    height: 2rem;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    transition: all 0.5s ease;
    font-family: NovaSlim, sans-serif;
    max-width: 15em;
  }

  input:focus {
    outline: none;
    padding: 0px 20px;
    color: #172a3a;
  }

  input::placeholder {
    padding: 10px;
    font-family: NovaSlim, sans-serif;
  }

  button {
    font-family: NovaSlim, sans-serif;
    height: 2rem;
    margin: 0;
    border: 1px solid $blue-2;
    background: $blue-2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 0;
    font-size: 1.2rem;
    transition: background-color 0.25s ease;
    outline: none;
    max-width: 5em;
  }

  button:hover {
    background-color: #ddd;
  }

  button:active {
    box-shadow: inset 0px 0px 4px grey !important;
  }

  .speciesSelector {
    border-radius: 0;
    background-color: white;
    border: 0;
    border-left: 3px solid $blue-4;
    outline: none;
  }
}

@media (max-width: 800px) {
  .searchBar {
    margin: 2em 1rem;

    input {
      max-width: 40%;
    }

    button {
      font-size: 1em;
      font-weight: bold;
    }
  }

  .speciesSelector {
    display: none;
  }
}
