.container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 60% auto;

  img {
    justify-self: center;
    width: max(30vw, 60vh);
    margin: 0 2em;
  }

  img.logo {
    margin: 2em 1em;
    height: 5em;
    width: auto;
  }
}

.textContainer {
  line-height: 1.6;
  text-align: justify;
  grid-column: 1;

  ul li {
    margin: 1em auto;
  }

  p {
    margin: 1em auto;
  }
}

.imageColumn {
  margin-top: 4em;
  grid-column: 2;
  padding-right: 2em;

  img {
    margin: 0;
    margin-left: 2em;
    max-width: 100%;
    height: auto;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  p {
    font-style: italic;
    color: grey;
    margin: 1em 3em;
  }
}

.imageContainer {
  margin: 0;
  margin-left: 2em;
}

.dobCitation {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: 100%;
  }
  .imageColumn {
    grid-column: 1;
  }
}

.annoucementTitle {
  margin: 0
}
