@import "/styles/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.search {
  display: flex;
  position: relative;
  width: 100%;

  input {
    margin-right: 0;
    margin-bottom: 0;
    margin: 1em 0 0 1em;
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid $basic-grey;
    padding: 5px;
    height: 20px;
    outline: none;
    box-shadow: -1px -1px 1px $basic-grey;
    transition: all 0.25s ease;
  }

  input::placeholder {
    color: $placeholder-grey;
    opacity: 1;
  }

  input:focus {
    color: $blue-2;
    border-bottom: 3px solid $blue-1;
    box-shadow: -3px -3px 1px #ddd;
  }

  button {
    height: 2rem;
    margin: 0;
    border: 0px solid $blue-2;
    background: $blue-2;
    text-align: center;
    color: white;
    cursor: pointer;
    box-shadow: -1px -2px 1px $basic-grey;
    font-size: 20px;
    align-self: flex-end;
    transition: all 0.25s ease;
    padding: 0 0.5em;
    outline: none;
  }

  button:hover {
    color: #36424d;
    background-color: $basic-grey;
    box-shadow: 0px -1px 1px $basic-grey;
  }

  button:active {
    padding: 0 0.4em 0 0.6em;
  }

  input:focus + button {
    box-shadow: -2px -4px 1px $basic-grey;
  }

  &.disabled {
    input {
      background-color: #f3f7f7;
      pointer-events: none;
    }
    input:focus {
      border-bottom: 2px solid $basic-grey;
      box-shadow: -1px -1px 1px $basic-grey;
    }

    button {
      background-color: $basic-grey;
      color: #36424d;
      cursor: default;
    }

    button:hover {
      box-shadow: -1px -2px 0px $basic-grey;
    }

    input:focus + button {
      box-shadow: -1px -2px 1px $basic-grey;
    }
  }
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: auto;
  }
}

.blastSearch {
  margin: 1rem;

  textarea {
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    width: 100%;
    border: 0px solid $blue-2;
    border-bottom: 2px solid $basic-grey;
    padding: 5px;
    outline: none;
    box-shadow: 0px 0px 5px $basic-grey;
    transition: all 0.25s ease;
  }

  textarea::placeholder {
    color: $placeholder-grey;
    opacity: 1;
  }

  textarea:focus {
    color: $blue-2;
    border-bottom: 3px solid $blue-1;
    box-shadow: 0px 0px 20px $basic-grey;
  }

  .secondary {
    font-size: 16px;
    margin: 1rem 0rem;
    background: #817b7393;
    box-shadow: 0px 0px 1px $basic-grey;
  }

  .secondary:hover {
    background: #584b3a93;
    color: white;
    box-shadow: 0px 0px 10px $basic-grey;
  }
}

.blastSearchError {
  @extend .blastSearch;

  textarea {
    box-shadow: 0px 0px 15px $error-red;
  }

  p {
    margin: 1em;
    color: $error-red;
  }
}

.line {
  margin-left: 1.4rem;
  margin-bottom: 1em;
  border-left: 2px solid $basic-grey;
  border-bottom: 2px solid $basic-grey;
  width: 2em;
  height: 1em;
}

.example {
  display: inline-flex;

  .eg {
    color: $placeholder-grey;
    margin: 0.6em 0.5em;
    font-size: 0.9em;

    a {
      cursor: pointer;
      text-decoration: underline;
      color: $blue-2;
    }
  }
}

.marginBottom {
  margin-bottom: 1em;
}

.option {
  margin-top: 1em;
  margin-left: 1em;
  width: 40%;
  border: 0px solid $blue-2;
  border-bottom: 2px solid $basic-grey;
  padding: 5px;
  outline: none;
  box-shadow: 0px 0px 5px $basic-grey;
  transition: all 0.25s ease;
}

.option::placeholder {
  color: $placeholder-grey;
  opacity: 1;
}

.option:focus {
  color: $blue-2;
  border-bottom: 3px solid $blue-1;
  box-shadow: 0px 0px 20px $basic-grey;
}

.optionRow {
  background-color: $basic-grey;
  box-shadow: 2px 2px 5px $placeholder-grey;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;

  span {
    display: flex;
    flex-direction: column;
    margin: 0.6em;
  }
}

.button {
  height: auto;
  border: 0px solid $blue-2;
  background: $blue-2;
  text-align: center;
  color: white;
  cursor: pointer;
  box-shadow: -1px -2px 1px $basic-grey;
  font-size: 16px;
  padding: 0.5em;
  align-self: center;
  transition: all 0.25s ease;
  padding: 0.5em;
  outline: none;
}

.button:hover {
  color: #36424d;
  background-color: $basic-grey;
  box-shadow: 0px -1px 1px $basic-grey;
}

.button:active {
  padding: 0.5em 0.4em 0.5em 0.6em;
}

.tabSelected {
  color: #36424d;
  background-color: $basic-grey;
  box-shadow: 0px -1px 1px $basic-grey;
}

.buttonRight {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.speciesSelector {
  margin: 1em 0 0 1em;
  width: 98%;
  border-radius: 0;
  background-color: white;
  border: 0;
  outline: none;
  padding: 5px;
  border-right: 1px solid $basic-grey;
  border-bottom: 2px solid $basic-grey;
  box-shadow: -1px -1px 1px $basic-grey;
  transition: all 0.25s;
}

// Apply only to Chrome and Safari as Firefox select:focus seems to have a bug.
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .speciesSelector:focus {
    color: $blue-2;
    border-bottom: 3px solid $blue-1;
    box-shadow: -3px -3px 1px #ddd;
  }
}

// In firefox select:focus seems to have a bug, where the focus doesn't end on selection.
// So this will use hover to determine when to add effect
@-moz-document url-prefix() {
  .speciesSelector:hover {
    color: $blue-2;
    border-bottom: 3px solid $blue-1;
    box-shadow: -3px -3px 1px #ddd;
  }
}
