.container {
  margin: 2rem;
}

.text {
  font-size: 1.2em;
  text-align: center;
}

.query {
  margin: 1em 2em;
  padding: 0.5em;
  width: auto;
  word-break: break-all;
  padding-left: 0.3em;
  border-left: 10px solid grey;
}
