@import "/styles/variables.scss";

.container {
  margin: 2em;
}

.description {
  text-align: center;
}

.additionalInfo {
  text-align: center;
  font-size: 1.3em;
}

.citation {
  font-style: italic;
  color: grey;
  margin: 1em 3em;
  text-align: center;
}

.imageContainer {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border: 3px solid $blue-1;
  box-shadow: 0px 0px 1px $basic-grey;
  transition: all 0.25s;
  font-size: 1.2em;
  font-weight: bold;

  &:hover {
    margin: 1em 1em 1.3em 1.3em;
    border: 3px solid $blue-3;
    box-shadow: 0px 0px 15px #aeadad;
  }
}

.card2 {
  @extend .card;
  padding: 1.6em 1em;
}

.grey {
  color: grey;
}

.beta {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 700;
}

.boxContainer {
  display: flex;
  max-width: 100%;
}

.box {
  border: 3px solid $blue-3;
  padding: 1em;
  margin: 0.5em;
}

.box1 {
  @extend .box;
  width: 70%;
}

.box2 {
  @extend .box;
  width: 30%;
  position: relative;
}

.cardContainerHeatmap {
  // @extend .card;
  // Put container at same level than other card
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  // Center card inside
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCenter {
  text-align: center;
}

// Wrap the iDEP and Heatmap box
@media (max-width: 1200px) {
  .boxContainer {
    flex-wrap: wrap;
  }

  .box1 {
    width: 100%;
  }

  .box2 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  // Ensure the box stay center on mobile
  .container {
    margin: 1em;
  }
}
