@font-face {
  font-family: NovaSlim;
  src: url("/fonts/NovaSlim-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: NovaSlim, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Open Sans", "Droid Sans", Arial, Helvetica, sans-serif;
}
