$blue-0: #94dded; // clear
$blue-1: #45c8e4; // normal
$blue-2: #3cb0ca; // dark
$blue-3: #00b4cc; // darkerr
$blue-4: #1f8ca4; // top-bar blue
$basic-grey: #ddd;
$placeholder-grey: #8f91ac;
$shadow: #c4c4c4;
$secondary: #817b7393;
$error-red: #e71010d5;
