@import "/styles/variables.scss";

.speciesName {
  text-align: center;
}

.main {
  margin: 2rem;

  h2 {
    margin: 1.5rem 2.2rem 1rem 1.5rem;
  }

  hr {
    margin: auto;
    width: 90%;
  }
}

.descriptionRow {
  height: auto;
  white-space: normal;
  text-align: center;
}

.dlColumnLine {
  display: flex;
  justify-content: center;

  & > * {
    margin: 2px 4px;
  }
}

.dlButton {
  border-radius: 5px;
  background-color: $blue-2;
  box-shadow: 2px 2px 3px $basic-grey;
  border: 0;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease;
  outline: none;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    color: #000000;
    background-color: $basic-grey;

    a {
      color: #000000;
    }
  }

  &:active {
    box-shadow: inset 0px 0px 4px grey !important;
  }
}

.dl {
  margin: 0 0 0 2rem;
  color: #5a5a5a;
  text-decoration: none;

  a {
    color: #5a5a5a;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  &.colorBlack {
    a {
      color: black;
    }
  }
}

.assemblyText {
  text-align: justify;
  margin: auto;
  width: 80%;
}

.assemblyColumn {
  column-count: 4;
}

.strainImage {
  display: flex;
  justify-content: center;
}

.imageDescriptionContainer {
  display: flex;
  justify-content: center;
}

.imageDescription {
  text-align: justify;
  font-style: italic;
  color: grey;
  margin: 2em;
  width: 500px;
}

.referenceCenter {
  display: grid;
  place-items: center;
}

.referenceWidth {
  width: 70%;
}

@media (max-width: 1300px) {
  .assemblyColumn {
    column-count: 3;
  }
}

@media (max-width: 1100px) {
  .assemblyColumn {
    column-count: 2;
  }

  .assemblyText {
    width: 100%;
  }

  .imageDescription {
    width: 100%;
  }

  .referenceWidth {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .assemblyColumn {
    column-count: 1;
  }
}


.underline {
  text-decoration: underline;
}

.textCenter {
  text-align: center;
}

